.login-page-bg-container {
  background-color: black;
  min-height: 100vh;
  padding: 2px;
}

.login-page-container {
  background-color: black;
  min-height: 100vh;
  padding: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (min-width: 767px) {
  .login-page-container {
    background-image: url('https://res.cloudinary.com/dwj8ezxgi/image/upload/v1717581662/netfilx_1_he2stz.png');
    background-color: transparent;
  }
}

.form {
  color: white;
  width: 400px;
  background-color: rgba(0, 0, 0, 0.759);
  border-radius: 10px;
  padding: 10px;
}
.form-item {
  display: flex;
  flex-direction: column;
  margin-bottom: 8px;
}
label {
  margin-bottom: 3px;
}
input {
  background-color: #333333;
  padding: 10px;
  color: white;
  outline: none;
  border-radius: 7px;
  border: none;
}
.sign-in-button {
  width: 100%;
  margin-top: 20px;
  background-color: #e50014;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 7px;
  cursor: pointer;
  margin-bottom: 20px;
}
.err-msg {
  color: #e50014;
}

.form {
  color: white;
  width: 400px;
}
.form-item {
  display: flex;
  flex-direction: column;
  margin-bottom: 8px;
}
label {
  margin-bottom: 3px;
}
input {
  background-color: #333333;
  padding: 10px;
  color: white;
  outline: none;
  border-radius: 7px;
  border: none;
}
.sign-in-button {
  width: 100%;
  margin-top: 20px;
  background-color: #e50014;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 7px;
  cursor: pointer;
  margin-bottom: 20px;
}
.err-msg {
  color: #e50014;
}
