.slider-container {
  padding: 15px;
  background-color: rgba(20, 18, 18, 0.889);
  height: 80px;
}
.movie-item {
  padding: 3px;
  border-radius: 10px;
  height: 6vh;
}
.slick-loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
